@using AspNetCoreMVC_SchoolSystem.DTO
@model IEnumerable<StudentDTO>
<h1>Index</h1>
<a asp-action="Create" class="btn btn-success" >Create</a>
@foreach (var item in Model) {
    <div class="border border-1 border-dark p-2 ">
        <h5>@item.FirstName @item.LastName</h5>
        Id: @item.Id
        <p>Date of Birth: "@item.DateOfBirth.ToString()"</p>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
        <form method="post">
            <button type="submit" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</button>
        </form>
    </div>
    }
    